.header{
   padding-top: 20px;
   padding-left: 345px;
   margin-bottom: 25px;
   position: relative;
}

.header__logo{
   display: block;
   background-image: url(../../../img/logo.png);
   width: 202px;
   height: 40px;
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   position: absolute;
   bottom: 0;
   left: 56px;
}

.burger{
   display: none;
   position: absolute;
   top: 85px;
   left: 55px;
   width: 30px;
   height: 25px;
   z-index: 6;
   transition: all .3s;
   span{
      display: block;
      width: 25px;
      height: 4px;
      background-color: rgba(#212121, .8);
      border-radius: 2px;
      transition: all .5s;
      position: absolute;
      &:first-child{
         top: 1px;
      }
      &:nth-child(2){
         top: 10px;
      }
      &:last-child{
         bottom: 1px;
      }
   }
   &.active{
      span{
         &:first-child{
            top: 10.5px;
            transform: rotate(135deg);
         }
         &:nth-child(2){
            opacity: 0;
         }
         &:last-child{
            bottom: 10.5px;
            transform: rotate(-135deg);
         }
      }
   }
}

.header__inner{
   display: flex;
   align-items: center;
}

.header__menu-item{
   padding-bottom: 2px;
   & + .header__menu-item{
      margin-left: 30px;
   }
}

.header__time{
   color: #9a9a9a;
   font-size: 12px;
   margin-left: 30px;
}

.header__phone{
   color: #0d599e;
   font-size: 18px;
   margin-left: 75px;
}

.header__bottom{
   margin-top: 25px;
   display: flex;
   align-items: center;
}

.header__catalog-link{
   padding: 12px 35px;
   display: block;
   border-radius: 10px;
   background-color: #b22825;
   font-size: 15px;
   color: #fff;
}

.header__inp-wrapper{
   position: relative;
   max-width: 263px;
   width: 100%;
   margin-left: 60px;
   a{
      position: absolute;
      display: block;
      width: 21px;
      cursor: pointer;
      height: 21px;
      background-image: url(../../../img/search.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      top: 9px;
      right: 20px;
   }
}

.header__search{
   border-radius: 20px;
   background-color: rgba(#e6e6e6, .6);
   padding: 13px 50px 13px 35px;
   border: none;
   outline: none;
   font-size: 14px;
   width: 100%;
   &::placeholder{
      color: #c6c6c6;
   }
}

.header__bottom-list,
.header__bottom-icons{
   li{
      display: inline-block;
   }
}

.header__bottom-list{
   margin-left: 40px;
}
.header__bottom-icons{
   margin-left: 55px;
}

.header__bottom-item{
   font-size: 15px;
   color: rgba(#010000, .9);
   & + .header__bottom-item{
      margin-left: 40px;
   }
}

.header__bottom-icon{
   a{
      display: block;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
   }
   & + .header__bottom-icon{
      margin-left: 25px;
   }
   &.icon-heart{
      a{
         background-image: url(../../../img/header__icon-1.png);
      }
   }
   &.icon-bag{
      a{
         background-image: url(../../../img/header__icon-2.png);
      }
   }
   &.icon-user{
      a{
         background-image: url(../../../img/header__icon-3.png);
      }
   }
}



@import "header-media";