.blog{
   margin-bottom: 90px;
   .container{
      max-width: calc(100% - 30px);
   }
}
.blog__item{
   height: 400px;
   display: block;
   margin: 0 15px 30px;
   width: calc(50% - 30px);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   position: relative;
   &.small{
      width: calc(40% - 30px);
      .blog__item-text{
         max-width: 350px;
      }
   }
   &.big{
      width: calc(60% - 30px);
   }
}
.blog__inner{
   display: flex;
   flex-wrap: wrap;
   margin: 0 -15px;
}
.title-wrapper{
   margin-bottom: 50px;
}
.blog__item-text,
.blog__item-date{
   position: absolute;
   color: #fff;
}
.blog__item-text{
   font-weight: 800;
   font-size: 25px;
   line-height: 30px;
   max-width: 450px;
   top: 240px;
   padding-right: 20px;
   left: 38px;
}
.blog__item-date{
   font-size: 15px;
   bottom: 27px;
   left: 38px;
}


@import 'blog-media'