.catalog-content{
   padding-right: 450px;
   position: relative;
   .breadcrumbs{
      margin-top: 30px;
   }
}
.catalog-content__title{
   color: #212121;
   font-size: 30px;
   font-weight: 500;
   margin-bottom: 10px;
}
.catalog-content__filters{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   .catalog-content__filter{
      color: #4e4e4e;
      font-size: 14px;
      margin-right: 43px;
      margin-bottom: 20px;
      &.active{
         color: #0d599e;
         text-decoration: underline;
      }
      &.sale,
      &.new,
      &.hit{
         a{
            width: 53px;
            height: 25px;
            display: block;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 400;
         }
      }
      &.sale{
         background-color: #d12e26;
      }
      &.new{
         background-color: #0d599e;
      }
      &.hit{
         background-color: #f0dd20;
      }
   }
}

.catalog-content__inner{
   display: flex;
   margin: 0 -15px;
   flex-wrap: wrap;
}

.catalog-content__item{
   max-width: calc(33.333% - 30px);
   width: 100%;
   margin: 0 15px;
   display: block;
   position: relative;
   padding-top: 25px;
   margin-bottom: 100px;
   .catalog-content__like{
      transition: all .5s;
      opacity: 0;
   }
   &:hover{
      .catalog-content__like,
      .catalog-content__buy{
         opacity: 1;
      }
      .catalog-content__buy{
         visibility: visible;
      }
   }
}

.catalog-content__item,
.product__info{
   .catalog-content__like{
      position: absolute;
      top: 17px;
      right: 8px;
      background-image: url(../../../img/svg/aside__item-14.svg);
      width: 27px;
      height: 25px;
      background-size: contain;
      background-repeat: no-repeat;
   }
}

.catalog-content__buy{
   padding-bottom: 35px;
   background-color: rgba(#fff, .9);
   padding-top: 20px;
   width: 100%;
   position: absolute;
   bottom: 0;
   left: 0;
   transform: translateY(100%);
   transition: all .5s;
   opacity: 0;
   visibility: hidden;
   z-index: 5;
}

.catalog-content__btn{
   font-size: 14px;
   padding-right: 25px;
   padding-left: 25px;
   border-radius: 18px;
   margin-right: auto;
   display: block;
}

.catalog-content__box{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 15px;
}

.catalog-content__by-click,
.catalog-content__stitching a{
   color: #0d599e;
   font-size: 14px;
   text-decoration: underline;
}

.catalog-content__stitching{
   font-size: 12px;
   color: #262626;
   a{
      font-size: 12px;
   }
}

.stocks-news__price.dark{
   color: #212121;
   font-weight: 500;
}


 .catalog-filters{
    position: absolute;
    right: 40px;
    top: 0;
    max-width: 373px;
    width: 100%;
    background-color: rgba(#e6e6e6, .3);
    height: 100%;
    padding: 48px 50px 48px 50px;
    input[type=text]{
       display: inline-block;
       width: 67px;
       height: 26px;
       background-color: #ffffff;
       border: none;
       & + input[type=text]{
          margin-left: 15px;
       }
    }
    .catalog-filters__box{
       border: none;
       & + .catalog-filters__box{
          margin-top: 35px;
       }
    }
    .catalog-filters__box-2{
       display: flex;
       align-items: center;
    }
    .catalog-filters__to{
       display: inline-block;
       margin: 0 5px;
    }
    .catalog-filters__type{
      font-size: 16px;
      display: inline-block;
      margin-right: auto;
    }
    .catalog-filters-range{
       margin-top: 26px;
       max-width: 178px;
       margin-left: auto;
    }
    .noUi-target,
    .noUi-connect{
      background-color: #a7a7a7;
      height: 1px;
    }
    .noUi-base{
       max-width: 178px;
       margin-left: auto;
    }
    .noUi-target {
       background: #a7a7a7; 
       border-radius: 0; 
       border: none; 
       box-shadow: none; 
   }
   .noUi-connect{
      background: #a7a7a7;
   }
   .noUi-connect, .noUi-origin{
      right: 13px;
   }
    .noUi-handle{
      width: 15px;
      height: 15px;
      background-color: #0d599e;
      border-radius: 50%;
      box-shadow: none;
      border: none;
      outline: none;
      &::before,
      &::after{
         display: none;
      }
    }
    .catalog-filters__wrap{
       & + .catalog-filters__wrap{
          margin-top: 90px;
       }
    }
 }
 .catalog-filters__btn{
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    border-radius: 10px;
    background-color: #0d599e;
    padding: 10px 18px;
    border: none;
    display: block;
    cursor: pointer;
    margin: 35px auto 0;
 }
 .catalog-filters__title{
    display: none;
 }

 .catalog-filters__checkboxes{
    margin: 40px 0;
    height: 20px;
    overflow: hidden;
    transition: all .5s;
    .catalog-filters__filter-title{
      cursor: pointer;
      position: relative;
      span{
        color: #0d599e;
        pointer-events: none;
      }
      &::after{
         content: '';
         background-image: url(../img/angle-down.png);
         width: 16px;
         height: 9px;
         background-repeat: no-repeat;
         background-position: center;
         background-size: contain;
         position: absolute;
         right: 0;
         top: 3px;
         transition: all .3s;
      }
    }
    &.active{
      .catalog-filters__filter-title{
         &::after{
            transform: rotate(180deg);
         }
      }
    }
    ul{
       padding-top: 25px;
       li{
          cursor: pointer;
          padding-left: 28px;
          position: relative;
          & + li{
             margin-top: 8px;
          }
          span{
             display: block;
             width: 14px;
             height: 14px;
             position: absolute;
             left: 0;
             top: 2px;
             border-radius: 2px;
             pointer-events: none;
             border: 1px solid #212121;
             &::before{
                content: '';
                top: 1px;
                left: 0.5px;
                border-radius: 2px;
                position: absolute;
                width: 0;
                height: 0;
                background-color: #0d599e;
                transition: all .3s;
             }
          }
          &.active{
             span{
                &::before{
                  width: 11px;
                  height: 10.5px;
                }
             }
          }
       }
    }
 }
 .filters-input{
    display: none;
 }

@import 'catalog-content-media'