.footer{
   width: 100%;
}

.footer__top{
   margin-bottom: 60px;
}

.footer__title{
   font-size: 30px;
   font-weight: 700;
   max-width: 328px;
   margin-bottom: 18px;
}

.footer__phone{
   color: #0d599e;
   font-weight: 700;
   font-size: 30px;
   margin-bottom: 8px;
   display: block;
}

.footer__time{
   color: #9a9a9a;
   font-size: 12px;
   margin-bottom: 10px;
}

.footer__write{
   font-size: 12px;
   font-weight: 400;
   a{
      color: #0d599e;
      text-decoration: underline;
   }
}

.footer__content{
   display: flex;
}

.footer__column{
   width: 20%;
   &:first-child{
      width: 30%;
   }
}

.footer__item{
   & + .footer__item{
      margin-top: 25px;
   }
   font-size: 16px;
}

.footer__details{
   font-size: 12px;
   line-height: 24px;
   &-1{
      margin-top: 40px;
      max-width: 225px;
   }
   & + .footer__details{
      margin-top: 16px;
   }
   span{
      font-weight: 700;
      font-size: 13px;
   }
   a{
      font-size: 12px;
   }
}

.footer__bottom{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 50px;
}

.footer__socials{
   list-style: none;
   padding-right: 80px;
   padding-top: 36px;
   position: relative;
   &::before{
      content: 'Подписывайтесь на наши соцсети:';
      position: absolute;
      top: 0;
      left: 0;
      opacity: .6;
      font-size: 14px;
   }
}

.footer__socials-item{
   display: inline-block;
   & + .footer__socials-item{
      margin-left: 30px;
   }
   a{
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
   }
   &.fb{
      a{
         background-image: url(../../../img/svg/footer_social-1.svg);
      }
   }
   &.vk{
      a{
         background-image: url(../../../img/svg/footer_social-2.svg);
      }
   }
   &.inst{
      a{
         background-image: url(../../../img/svg/footer_social-3.svg);
      }
   }
}








@import "footer-mobile";