html{
    box-sizing: border-box;
 }
 *,
 *::before,
 *::after{
    box-sizing: inherit;
}
body{
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

// .container {
//     @include container();
//     @include sm(max-width, rem(510));
//     @include md(max-width, rem(690));
//     @include lg(max-width, rem(930));
//     @include xl(max-width, rem(1110));
// }

.wrapper{
    display: flex;
}

@media (max-width: 750px){
    .wrapper{
        display: block;
    }
}

.container{
    max-width: 980px;
    padding: 0 20px;
    width: 100%;
    // margin: 0 auto;
 }

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #212121;
}

.menu-item{
    display: inline-block;
   a{
      color: #9a9a9a;
      font-size: 12px;
      font-weight: 500;
   }
}

.content{
    width: 100%;
}

.title{
    color: #212121;
    font-size: 48px;
    font-weight: 700;
    border-bottom: 4px solid #0d599e;
    display: inline;
    line-height: 60px;
}
